{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/f10319be8f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    {% block css%} {% endblock css%}
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-block">
                <div class="logo">SHOP LADY</div>
            </div>
            <nav class="navigation-block">
                <div class="navigation">
                    <a class="home" href="home.html">Home</a> 
                    <a class="catalog" href="catalog.html">Catalog</a> 
                    <a class="profile" href="#">Profile</a> 
                    <a class="cart" href="#">Cart</a>
                </div>
            </nav>
        </header>
        <main class="main-block">
            {% block content%} {% endblock content %}
        </main>
        <footer class="footer">
            <div class="contact-block">
                <div class="icons">
                    <a class="fab fa-google google" href="#"></a>
                    <a class="fab fa-facebook facebook" href="#"></a> 
                    <a class="fab fa-instagram instagram" href="#"></a>
                </div>
                <div class="policy">
                    <a class="agreement" href="#">User Argeement</a> 
                    <a class="policy" href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="license-block">
                <a class="license">©2000-2020 SL Co. Ltd. All rights reserved</a>
            </div>
        </footer>
    </div>
</body>
</html>