{% extends "core/base.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'core/css/catalog.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="cards-block">
    {% for product in products %}
        <div class="card">
            <!--Product preview image area-->
            <img src="/media/{{ product.photos.first }}"
            class="card-image">

            <!--Product information area-->
            <a href="{% url 'core-catalog' %}{{ product.slug }}" class="title">
                {{ product.title }}
            </a>
            <div class="price">{{ product.price }}$</div>
            
            <!--Product colors area-->
            {% if product.color %}
                <div class="colors">
                    <!--Product color-->
                    <a href="{% url 'core-catalog' %}{{ product.slug }}"
                    class="color" style="background-color: 
                    {{ product.color.color }};"></a>

                    <!--Related colors-->
                    {% for related in product.related.all %}
                        <a href="{% url 'core-catalog' %}{{ related.slug }}"
                        class="color" style="background-color: 
                        {{ related.color.color }};"></a>
                    {% endfor %}
                </div>
            {%endif%}

            <!--Product size area-->
            <div class="sizes">
                {% for size in product.sizes.all %}
                    <span class="size">{{ size.size }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content%}