{% extends "core/base.html" %}
{% load static %}
{% block css %}
    <link href="{% static 'core/css/product.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <div class="content-block">
        <!--Main product image-->
        <img class="product" alt="Product" src="{{ product.photo_set.first }}">

        <!--Additional images-->
        <div class="images">
            {% for image in product.photo_set.all %}
                <img class="image" scr="{{ image }}">
            {% endfor %}
        </div>

        <!--Product information area-->
        <div class="title">{{ product.title }}</div>
        <div class="price">{{ product.price }}$</div>
        <div class="description">{{ product.description }}</div>

        <!--Product colors area-->
        {% if product.color %}
            <div class="colors">
                <!--Product color-->
                <a href="{% url 'core-catalog' %}{{ product.slug }}"
                class="color" style="background-color: 
                {{ product.color.color }};"></a>

                <!--Related colors-->
                {% for related in product.related.all %}
                    <a href="{% url 'core-catalog' %}{{ related.slug }}"
                    class="color" style="background-color: 
                    {{ related.color.color }};"></a>
                {% endfor %}
            </div>
        {%endif%}

        <!--Product size area-->
        <div class="sizes">
            {% for size in product.sizes.all %}
                <span class="size">{{ size.size }}</span>
            {% endfor %}
        </div>

        <!--Add to cart area-->
        <div class="add">Cart</div>
    </div>
{% endblock content%}